<a href="https://colab.research.google.com/github/GianJerichoEspino/CPE-21A-PLD-1-1/blob/main/Introduction_to_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Indentation

In [7]:
#determining if six is greater than 1
if 6>1:
  print("6 is greater than 1")  #this indentation means the syntax is correct

6 is greater than 1

# Variable Declaration

In [40]:
#Variable with a single value
x = 5
y = 3
if x > y:
  print("x is greater than y")
else:
  print("x is less than y")

#Variable with multiple values
a, b = 1, 2
print("the value of a is:", a)
print("the value of b is:", b)  #input print for all variables to consecutively print all variables

x is greater than y
the value of a is: 1
the value of b is: 2

#One Value to Multiple Variables

In [42]:
#Multiple variables with a single value
p = q = r = "Sir"
print(p)
print(q)
print(r)

Sir
Sir
Sir

#Casting and Type() Function

In [35]:
f = int(4)  #integer
g = float(4)  #decimal/fractional

#f value and type
print(f)
print(type(f))
#g value and type
print(g)
print(type(g))

4
<class 'int'>
4.0
<class 'float'>

#Double Quote or Single Quote

In [37]:
name = "Gian"
name1 = 'Espino'
print(name, name1)

Gian Espino

#Case Sensitive

In [41]:
#Variables are case sensitive
a = "Ana"
print(a)
A = "John "
print(A)

Ana
John

#Output Variable

In [49]:
o = "is fun"
#append is enjoying
print("Python programming"+" "+o) #Use another + to put space

Python programming is fun

####Other way:

In [52]:
o = "fun"
t = "Python is "
z = t + o
print(z)

Python is fun